<div class="profile_show_and_edit">
  <h1>Profile</h1>
  <div class="tabbed">
    <div class="label">user:</div>
    <div><%= @profiled_user.name %></div>
  </div>
  <div class="tabbed">
    <div class="label">created:</div>
    <div><%= @profiled_user.created_at %></div>
  </div>
  <div class="tabbed">
    <div class="label">karma:</div>
    <div>TBD</div>
  </div>
  <div class="tabbed">
    <div class="label">about:</div>
    <div><%= @profiled_user.about %></div>
  </div>
  <div class="tabbed">
    <div class="label">email:</div>
    <div><%= @profiled_user.email %></div>
  </div>
  <div class="tabbed">
    <div class="label">created:</div>
    <div><%= @profiled_user.created_at %></div>
  </div>
</div>
