<div class = "profile_show_and_edit">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="tabbed">
      <div class="label">user:    </div>
      <%= @user.name %>
    </div>
    <div class="tabbed">
      <div class="label">created:    </div>
      <%= @user.created_at %>
    </div>
    <div class="tabbed">
      <div class="label">karma:</div>
      <div>TBD</div>
    </div>

    <div class="field tabbed">
      <div class="label">about:</div>
      <%= f.text_area :about, :rows => 4 %>
    </div>

    <div class="field tabbed">
      <div class="label">email:</div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>
