<p>
  <%= comments_parent.text %>
  <br />
  <%= " - contributed by #{comments_parent.submitter.name}" %>
</p>
<%= form_for(comments_parent.comments.build, url: comment_reply_path(comments_parent), method: :post) do |f| %>
  <%= render partial: "shared/comment/form_new", locals: { form: f }  %>
  <%= f.submit "Submit Reply" %>
<% end %>
