<% if !user_signed_in? %>
  <div class="vote_button_wrapper">
    <%= render partial: "shared/vote/static_icons" %>
  </div>
<% else %>
  <% if parents_vote(parent).blank? %>
    <div class="vote_button_wrapper">
      <%= render partial: "shared/vote/new", locals: { parent: parent } %>
      <%= tag.i class: "fa fa-times-circle not-clickable" %>
    </div>
  <% else %>
    <div class="vote_button_wrapper">
      <%= render partial: "shared/vote/edit", locals: { parent: parent } %>
      <%= link_to parents_vote(parent), method: :delete, id: "delete" do %>
        <%= tag.i class: "fa fa-times-circle clickable" %>
      <% end %>
    </div>
  <% end %>
<% end %>
