<%= comment.text %>
<% if user_signed_in? %>
  <%= link_to "Reply to #{comment.submitter.name}", comment_reply_path(comment) %>
<% else %>
  <%= link_to " - contributed by #{comment.submitter.name}", user_path(comment.submitter.name) %>
<% end %>
<div class="vote_wrapper_comment" >
  <div class="vote_count_comment">
    <%= (comment&.votes.present?) ? comment&.votes.sum(:value) : nil %>
  </div>
  <%= render partial: "shared/vote/presenter_index", locals: { parent: comment } %>
</div>
<br />
<% if comment.comments.exists? %>
  <div class="replies-posted">
    <% comment.comments.each do |reply_comment| %>
      <%= render partial: "shared/comment", locals: { comment: reply_comment } %>
    <% end %>
  </div>
<% end %>
