<div class="show_and_edit">
  <%= form_for new_submission do |post| %>
    <%= show_errors_on_base(new_submission) %>
    <%= render partial: "input", locals: { form: post, field_name: :title } %>
    <%= render partial: "input", locals: { form: post, field_name: :url } %>
    <p class="center">OR</p>
    <%= render partial: "input", locals: { form: post, field_name: :text } %>
    <%= post.submit "Submit" %>
  <% end %>
</div>
