<div class="show_and_edit">
  <%= form_for new_post do |post| %>
    <%= show_errors_on_base(new_post) %>
    <div class="tabbed">
      <%= post.label :title %>
      <%= post.text_field :title %><br/>
    </div>
    <%= show_errors_inline(new_post, :title) %>
    <div class="tabbed">
      <%= post.label :url %>
      <%= post.url_field :url %><br/>
    </div>
    <%= show_errors_inline(new_post, :url) %>
    <div>
      <p>OR</p>
      <br/>
    </div>
    <div class="tabbed">
      <%= post.label :text %>
      <%= post.text_area :text %>
    </div>
    <%= show_errors_inline(new_post, :text) %>
    <%= post.submit "Submit" %>
  <% end %>
</div>
