<div class="profile_show_and_edit">
  <div class="tabbed">
    <div class="label">title:</div>
    <div><%= submission.title %></div>
  </div>
  <div class="tabbed">
    <div class="label">link:</div>
    <div><%= submission.url %></div>
  </div>
  <div class="tabbed">
    <div class="label">text:</div>
    <div><%= submission.text %></div>
  </div>
  <div class="tabbed">
    <div class="label">contributer:</div>
    <div><%= submission.user_id %></div>
  </div>
  <div class="tabbed">
    <div class="label">submitted at:</div>
    <div><%= submission.created_at %></div>
  </div>
</div>
