<div class="show_and_edit">
  <% if post.url_submission? %>
    <div class="tabbed">
      <div class="label">title:</div>
      <div><%= post.title.titleize %></div>
    </div>
    <div class="tabbed">
      <div class="label">link:</div>
      <div><%= link_to post.url %></div>
    </div>
  <% else %>
    <div class="tabbed">
      <div class="label">text:</div>
      <div><%= post.text %></div>
    </div>
  <% end %>
  <div class="tabbed">
    <div class="label">contributer:</div>
    <div><%= post.user.name %></div>
  </div>
  <div class="tabbed">
    <div class="label">submitted at:</div>
    <div><%= time_ago_in_words(post.created_at) %> ago </div>
  </div>
</div>
<div class="comments-posted">
  <% if post.comments.exists? %>
    <% post.comments.each do |c| %>
      <%= "comment by #{c.user.name}: #{c.text}" %>
      <br />
    <% end %>
  <% end %>
</div>
<%= form_for(new_comment, url: submissions_path, method: :post) do |comment| %>
  <%= comment.text_area :text, cols: 60 %>
  <br />
  <%= comment.hidden_field :post_id, :value => parent_id %>
  <% flash.each do |type, msg| %>
    <% if type.to_s == "inline" %>
      <%= content_tag(:div, msg, class: "alert alert-alert alert-inline") %>
    <% end %>
  <% end %>
  <%= comment.submit "add comment" %>
<% end %>
