<% present comment do |presenter| %>

  <%= presenter.text %>
  <%= presenter.attribution_link %>

  <div class="vote_wrapper_comment" id="vote_wrapper_<%= presenter.id %>" >
    <%= render partial: "shared/vote/presenter_index",
                        locals: { parent: comment } %>
  </div>

  </br >

  <% if presenter.replies? %>
    <div class="replies-posted">
      <% presenter.replies.each do |reply_comment| %>
        <%= render partial: "shared/comment/details",
                            locals: { comment: reply_comment } %>
      <% end %>
    </div>
  <% end %>

<% end %>
