<%= comment.text %>
<%= @comment_presenter.text_trailer %>
<div class="vote_wrapper_comment" >
  <div class="vote_count_comment">
    <%= (comment&.votes.present?) ? comment&.votes.sum(:value) : nil %>
  </div>
  <%= render partial: "shared/vote/presenter_index", locals: { parent: comment } %>
</div>
<br />
<% if comment&.comments.exists? %>
  <div class="replies-posted">
    <% comment&.comments.each do |reply_comment| %>
      <%= render partial: "shared/comment/presenter", locals: { comment: reply_comment } %>
    <% end %>
  </div>
<% end %>
