<% posts.map do |post| %>
  <br />
  <p class="head_line">
    <%= button_tag type: 'submit', class: "button my-button up-vote", id: "up_id_#{post.id}" do %>
      <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
    <% end %>
    <%= button_tag type: 'submit', class: "button my-button down-vote", id: "down_id_#{post.id}" do %>
      <i class="fa fa-chevron-circle-down"></i>
    <% end %>
    <% if post.url_post? %>
      <span><%= link_to(post.title, post.url) %></span>
    <% else %>
      <span><%= post.text.truncate(80, {separator: " "}) %></span>
    <% end %>
  </p>
  <p class="by_line">by <%= link_to(post.submitter.name, user_path(post.submitter.name)) %> | posted <%= link_to(time_ago_in_words(post.created_at), post) %>  ago
  </p>
<% end %>
