<% posts.map do |post| %>
  <br />
  <p class="head_line">
    <span><%= post.votes.sum(:value) %></span>
    <%= render partial: "shared/vote_form", locals: { post: post, id: post.id, one: 1, direction: "up" } %>
    <%= render partial: "shared/vote_form", locals: { post: post, id: post.id, one: -1, direction: "down" } %>
    <%= render partial: "shared/delete_vote", locals: { vote: post.votes.find_by(user_id: current_user.id)} %>
    <% if post.url_post? %>
      <span><%= link_to(post.title, post.url) %></span>
    <% else %>
      <span><%= post.text.truncate(80, {separator: " "}) %></span>
    <% end %>
  </p>
  <p class="by_line">by <%= link_to(post.submitter.name, user_path(post.submitter.name)) %> | posted <%= link_to(time_ago_in_words(post.created_at), post) %>  ago
  </p>
<% end %>
