<div class="show_and_edit">
  <%= form_for post do |f| %>
    <%= show_errors_on_base(post, :base) %>
    <%= render partial: "input", locals: { form: f, field_name: :title } %>
    <%= render partial: "input", locals: { form: f, field_name: :url } %>
    <p class="center">OR</p>
    <%= render partial: "input", locals: { form: f, field_name: :text } %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
