<div class="show_and_edit">
  <table>
    <thead>
      <tr class="table_headers">
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% if post.url_post? %>
        <tr>
          <td scope="row">title:</td>
          <td class="col2"><%= post.title.titleize %></td>
        </tr>
        <tr>
          <td scope="row">link:</td>
          <td class="col2"><%= link_to post.url %></td>
        </tr>
      <% else %>
        <tr>
          <td scope="row">text:</td>
          <td class="col2"><%= post.text %></td>
        </tr>
      <% end %>
      <tr>
        <td scope="row">contributer:</td>
        <td class="col2"><%= post.submitter.name %></td>
      </tr>
      <tr>
        <td scope="row">submitted at:</td>
        <td class="col2"><%= time_ago_in_words(post.created_at) %> ago</td>
      </tr>
    </tbody>
  </table>
</div>
<%= form_for(comment, url: post_comments_path(post.id), method: :post) do |f| %>
  <%= f.text_area :text %>
  <br />
  <%= f.hidden_field :post_id, :value => post.id %>
  <% flash.each do |type, msg| %>
    <% if type.to_s == "inline" %>
      <%= content_tag(:div, msg, class: "alert alert-alert alert-inline") %>
    <% end %>
  <% end %>
  <%= f.submit "Direct Comment On Post" %>
<% end %>
<% if post.direct_comments.exists? %>
  <div class="comments-posted">
    <% post.direct_comments.each do |c| %>
      <%= "#{c.text}" %>
      <%= link_to "Reply to #{c.submitter.name}", post_comment_reply_path(post.id, c.id) %>
      <br />
      <% if c.reply_comments.exists? %>
        <div class="replies-posted">
          <% c.reply_comments.each do |r| %>
            <%= "#{r.text}" %>
            <%= link_to "Reply to #{r.submitter.name}", post_comment_reply_path(post.id, r.id) %>
            <br />
            <% if r.reply_comments.exists? %>
              <div class="replies-posted">
                <% r.reply_comments.each do |q| %>
                  <%= "#{q.text}" %>
                  <%= link_to "Reply to #{q.submitter.name}", post_comment_reply_path(post.id, q.id) %>
                  <br />
                  <% if q.reply_comments.exists? %>
                    <div class="replies-posted">
                      <% q.reply_comments.each do |t| %>
                        <%= "#{t.text}" %>
                        <%= link_to "Reply to #{t.submitter.name}", post_comment_reply_path(post.id, t.id) %>
                        <br />
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <br />
    <% end %>
  </div>
<% end %>
