<%= render partial: "post_presenter_show" %>
<%= form_for(comment, url: post_comments_path(post), method: :post) do |f| %>
  <%= render partial: "shared/new_comment", locals: { form: f }  %>
  <%= f.submit "Comment On Post" %>
<% end %>
<% if post.comments.exists? %>
  <div class="comments-posted">
    <% post.comments.each do |direct_comment| %>
      <%= render partial: "shared/comment", locals: { comment: direct_comment } %>
    <% end %>
  </div>
<% end %>
