<div class="show_and_edit">
  <table>
    <thead>
      <tr class="table_headers">
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% if post.url_post? %>
        <tr>
          <td scope="row">title:</td>
          <td class="col2"><%= post.title.titleize %></td>
        </tr>
        <tr>
          <td scope="row">link:</td>
          <td class="col2"><%= link_to post.url %></td>
        </tr>
      <% else %>
        <tr>
          <td scope="row">text:</td>
          <td class="col2"><%= post.text %></td>
        </tr>
      <% end %>
      <tr>
        <td scope="row">contributer:</td>
        <td class="col2"><%= post.submitter.name %></td>
      </tr>
      <tr>
        <td scope="row">submitted at:</td>
        <td class="col2"><%= time_ago_in_words(post.created_at) %> ago</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="comments-posted">
  <% if post.comments.exists? %>
    <% post.comments.each do |c| %>
      <%= "comment by #{c.submitter.name}: #{c.text}" %>
      <br />
    <% end %>
    <%= link_to "Reply", new_post_comment_path(post.id) %>
  <% end %>
</div>
<%= form_for(comment, url: post_comments_path(post.id), method: :post) do |f| %>
  <%= f.text_area :text, cols: 60 %>
  <br />
  <%= f.hidden_field :post_id, :value => post.id %>
  <% flash.each do |type, msg| %>
    <% if type.to_s == "inline" %>
      <%= content_tag(:div, msg, class: "alert alert-alert alert-inline") %>
    <% end %>
  <% end %>
  <%= f.submit "add comment" %>
<% end %>
