<!DOCTYPE html>
<html>
  <head>
    <title>HackerNewsClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
  </head>

  <body>
    <nav>
      <div class="nav_always_show">
        <%= image_tag "y18.gif" %>
        <span>HackerNewsClone</span>
      </div>
      <% if user_signed_in? %>
        <div class="nav_conditional_show">
          <p>Welcome, <%= current_user.name.humanize %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
        </div>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% flash.each do |type, msg| %>
      <% if msg.kind_of?(Hash) %>
        <% msg.each do |_, m| %>
          <%= content_tag(:div, m.join(''), class: "alert alert-#{type}") %>
        <% end %>
      <% elsif msg.kind_of?(String) %>
        <%= content_tag(:div, msg, class: "alert alert-#{type}") %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
